@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --colourpinkelectric-pink: rgba(241, 36, 123, 1);
  --colourpinkpersian-pink: rgba(249, 145, 204, 1);
  --colourpinklavender-pink: rgba(255, 218, 252, 1);
  --colouryellow: rgba(245, 201, 57, 1);
  --colourbeige: rgba(243, 233, 207, 1);
  --colourneutralgrey: rgba(102, 102, 102, 1);
  --colourneutrallightslate: rgba(140, 140, 161, 1);
  --colourneutralslate: rgba(74, 74, 104, 1);
  --colourneutraldarkgrey: rgba(51, 51, 51, 1);
  --colourneutralbluewhite: rgba(236, 241, 244, 1);
  --colourneutralblueblack: rgba(6, 6, 26, 1);
  --colourneutrallight: rgba(250, 252, 254, 1);
  --typography-title-h2-font-family: "Work Sans", sans-serif;
  --typography-title-h2-font-weight: 700;
  --typography-title-h2-font-size: 50px;
  --typography-title-h2-letter-spacing: -1.5px;
  --typography-title-h2-line-height: normal;
  --typography-title-h2-font-style: normal;
  --typography-title-h3-font-family: "Work Sans", sans-serif;
  --typography-title-h3-font-weight: 600;
  --typography-title-h3-font-size: 40px;
  --typography-title-h3-letter-spacing: -0.8px;
  --typography-title-h3-line-height: normal;
  --typography-title-h3-font-style: normal;
  --typography-title-subtitle-font-family: "Work Sans", sans-serif;
  --typography-title-subtitle-font-weight: 500;
  --typography-title-subtitle-font-size: 24px;
  --typography-title-subtitle-letter-spacing: 0px;
  --typography-title-subtitle-line-height: normal;
  --typography-title-subtitle-font-style: normal;
  --typography-body-strong-bold-font-family: "Work Sans", sans-serif;
  --typography-body-strong-bold-font-weight: 600;
  --typography-body-strong-bold-font-size: 18px;
  --typography-body-strong-bold-letter-spacing: 0px;
  --typography-body-strong-bold-line-height: normal;
  --typography-body-strong-bold-font-style: normal;
  --typography-body-copy-font-family: "Work Sans", sans-serif;
  --typography-body-copy-font-weight: 400;
  --typography-body-copy-font-size: 18px;
  --typography-body-copy-letter-spacing: 0px;
  --typography-body-copy-line-height: 140%;
  --typography-body-copy-font-style: normal;
  --typography-body-pre-title-font-family: "Work Sans", sans-serif;
  --typography-body-pre-title-font-weight: 700;
  --typography-body-pre-title-font-size: 20px;
  --typography-body-pre-title-letter-spacing: 0.6px;
  --typography-body-pre-title-line-height: normal;
  --typography-body-pre-title-font-style: normal;
  --typography-button-CTA-primary-font-family: "Work Sans", sans-serif;
  --typography-button-CTA-primary-font-weight: 700;
  --typography-button-CTA-primary-font-size: 18px;
  --typography-button-CTA-primary-letter-spacing: 0.72px;
  --typography-button-CTA-primary-line-height: normal;
  --typography-button-CTA-primary-font-style: normal;
  --typography-button-CTA-secondary-font-family: "Work Sans", sans-serif;
  --typography-button-CTA-secondary-font-weight: 600;
  --typography-button-CTA-secondary-font-size: 16px;
  --typography-button-CTA-secondary-letter-spacing: 0px;
  --typography-button-CTA-secondary-line-height: normal;
  --typography-button-CTA-secondary-font-style: normal;
  --typography-button-nav-link-font-family: "Work Sans", sans-serif;
  --typography-button-nav-link-font-weight: 500;
  --typography-button-nav-link-font-size: 16px;
  --typography-button-nav-link-letter-spacing: 0.64px;
  --typography-button-nav-link-line-height: normal;
  --typography-button-nav-link-font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
   overflow-x: hidden;
  width: 100%;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes wiggle {
  0%, 100% { transform: rotate(12deg); }
  50% { transform: rotate(6deg); }
}

