@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #F1247B;
  --color-dark: #06061A;
  --color-light: #FAFCFE;
  --color-pink: #FFAEDC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-light);
  color: var(--color-dark);
}

html {
  scroll-behavior: smooth;
}
